In [25]:
import numpy as np
import pandas as pd

In [26]:
df1=pd.read_csv("leads_basic_details.csv")
df1

,lead_id,age,gender,current_city,current_education,parent_occupation,lead_gen_source
0,USR1001,16,FEMALE,Hyderabad,Intermediate,Private Employee,social_media
1,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals
2,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals
3,USR1004,16,MALE,Mumbai,Intermediate,IT Employee,user_referrals
4,USR1005,16,MALE,Chennai,Intermediate,Government Employee,user_referrals
...,...,...,...,...,...,...,...
355,USR1356,21,MALE,Mumbai,Degree,Government Employee,user_referrals
356,USR1357,22,MALE,Chennai,Looking for Job,Government Employee,website
357,USR1358,25,MALE,Chennai,B.Tech,Government Employee,SEO
358,USR1359,18,FEMALE,Mumbai,B.Tech,Government Employee,email_marketing
359,USR1360,16,MALE,Mumbai,Intermediate,Government Employee,social_media

In [27]:
df2=pd.read_csv("leads_demo_watched_details.csv")
df2

     lead_id demo_watched_date language  watched_percentage
0    USR1002          1/4/2022   Telugu                  42
1    USR1003          1/7/2022   Telugu                  81
2    USR1004          1/2/2022   Telugu                  35
3    USR1005          1/3/2022    Hindi                  38
4    USR1006         1/12/2022    Hindi                  54
..       ...               ...      ...                 ...
189  USR1317         2/25/2022  English                  48
190  USR1318         2/25/2022  English                  83
191  USR1319         2/28/2022  English                  84
192  USR1343         1/25/2022  English                  68
193  USR1348         2/27/2022  English                  72

[194 rows x 4 columns]

In [28]:
df3=pd.read_csv("leads_interaction_details.csv")
df3

,jnr_sm_id,lead_id,lead_stage,call_done_date,call_status,call_reason
0,JNR1001MG,USR1001,lead,1/2/2022,successful,lead_introduction
1,JNR1001MG,USR1001,lead,1/2/2022,successful,demo_schedule
2,JNR1001MG,USR1002,lead,1/3/2022,successful,lead_introduction
3,JNR1001MG,USR1002,lead,1/4/2022,successful,demo_schedule
4,JNR1001MG,USR1002,awareness,1/5/2022,successful,post_demo_followup
...,...,...,...,...,...,...
2187,JNR1001MG,USR1356,lead,2/21/2022,unsuccessful,lead_introduction
2188,JNR1001MG,USR1357,lead,1/8/2022,unsuccessful,lead_introduction
2189,JNR1001MG,USR1358,lead,1/12/2022,unsuccessful,lead_introduction
2190,JNR1001MG,USR1359,lead,1/22/2022,unsuccessful,lead_introduction
2191,JNR1001MG,USR1360,lead,2/21/2022,unsuccessful,lead_introduction

In [29]:
df4=pd.read_csv("leads_reasons_for_no_interest.csv")
df4

,lead_id,reasons_for_not_interested_in_demo,reasons_for_not_interested_to_consider,reasons_for_not_interested_to_convert
0,USR1001,No time for student,NaN,NaN
1,USR1003,NaN,No time for student,NaN
2,USR1004,NaN,Wants offline classes,NaN
3,USR1005,NaN,Can't afford,NaN
4,USR1006,NaN,Student not interested in domain,NaN
...,...,...,...,...
289,USR1356,Cannot afford,NaN,NaN
290,USR1357,Cannot afford,NaN,NaN
291,USR1358,Wants offline classes,NaN,NaN
292,USR1359,Will join in final year,NaN,NaN
293,USR1360,Will join in final year,NaN,NaN

In [30]:
df5=pd.read_csv("sales_managers_assigned_leads_details.csv")
df5

    snr_sm_id  jnr_sm_id assigned_date  cycle  lead_id
0    SNR501MG  JNR1001MG      1/1/2022      1  USR1001
1    SNR501MG  JNR1001MG      1/1/2022      1  USR1002
2    SNR501MG  JNR1001MG      1/1/2022      1  USR1003
3    SNR501MG  JNR1001MG      1/1/2022      1  USR1004
4    SNR501MG  JNR1001MG      1/1/2022      1  USR1005
..        ...        ...           ...    ...      ...
355  SNR501MG  JNR1001MG     2/19/2022      4  USR1356
356  SNR501MG  JNR1001MG      1/1/2022      1  USR1357
357  SNR501MG  JNR1001MG      1/8/2022      2  USR1358
358  SNR501MG  JNR1001MG     1/15/2022      3  USR1359
359  SNR501MG  JNR1001MG     2/19/2022      4  USR1360

[360 rows x 5 columns]

In [31]:
m1=pd.merge(df1,df2,on="lead_id")

In [32]:
m1

,lead_id,age,gender,current_city,current_education,parent_occupation,lead_gen_source,demo_watched_date,language,watched_percentage
0,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42
1,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81
2,USR1004,16,MALE,Mumbai,Intermediate,IT Employee,user_referrals,1/2/2022,Telugu,35
3,USR1005,16,MALE,Chennai,Intermediate,Government Employee,user_referrals,1/3/2022,Hindi,38
4,USR1006,16,MALE,Kochi,Intermediate,Doctor,user_referrals,1/12/2022,Hindi,54
...,...,...,...,...,...,...,...,...,...,...
189,USR1317,24,MALE,Mumbai,Looking for Job,Lawyer,social_media,2/25/2022,English,48
190,USR1318,21,MALE,Mumbai,Degree,IT Employee,email_marketing,2/25/2022,English,83
191,USR1319,22,FEMALE,Bengaluru,Looking for Job,Government Employee,email_marketing,2/28/2022,English,84
192,USR1343,24,FEMALE,Kochi,Looking for Job,IT Employee,social_media,1/25/2022,English,68
193,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72

In [33]:
m2=pd.merge(m1,df3,on="lead_id")
m2

,lead_id,age,gender,current_city,current_education,parent_occupation,lead_gen_source,demo_watched_date,language,watched_percentage,jnr_sm_id,lead_stage,call_done_date,call_status,call_reason
0,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42,JNR1001MG,lead,1/3/2022,successful,lead_introduction
1,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42,JNR1001MG,lead,1/4/2022,successful,demo_schedule
2,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42,JNR1001MG,awareness,1/5/2022,successful,post_demo_followup
3,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42,JNR1001MG,awareness,1/6/2022,successful,followup_for_consideration
4,USR1002,20,MALE,Bengaluru,B.Tech,Business,user_referrals,1/4/2022,Telugu,42,JNR1001MG,consideration,1/7/2022,successful,interested_for_conversion
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,JNR1012MG,lead,2/28/2022,successful,demo_not_attended
1574,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,JNR1012MG,awareness,2/28/2022,successful,post_demo_followup
1575,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,JNR1012MG,awareness,2/28/2022,successful,followup_for_consideration
1576,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,JNR1012MG,consideration,2/28/2022,successful,followup_for_conversion
1577,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,JNR1012MG,consideration,2/28/2022,successful,interested_for_conversion

In [34]:
m3=pd.merge(m2,df4,on="lead_id")
m3

,lead_id,age,gender,current_city,current_education,parent_occupation,lead_gen_source,demo_watched_date,language,watched_percentage,jnr_sm_id,lead_stage,call_done_date,call_status,call_reason,reasons_for_not_interested_in_demo,reasons_for_not_interested_to_consider,reasons_for_not_interested_to_convert
0,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81,JNR1001MG,lead,1/4/2022,unsuccessful,lead_introduction,NaN,No time for student,NaN
1,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81,JNR1001MG,lead,1/5/2022,successful,lead_introduction,NaN,No time for student,NaN
2,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81,JNR1001MG,lead,1/7/2022,successful,demo_schedule,NaN,No time for student,NaN
3,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81,JNR1001MG,awareness,1/8/2022,successful,post_demo_followup,NaN,No time for student,NaN
4,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81,JNR1001MG,awareness,1/9/2022,successful,followup_for_consideration,NaN,No time for student,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,JNR1012MG,lead,2/28/2022,successful,demo_not_attended,NaN,NaN,Wants offline classes
937,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,JNR1012MG,awareness,2/28/2022,successful,post_demo_followup,NaN,NaN,Wants offline classes
938,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,JNR1012MG,awareness,2/28/2022,successful,followup_for_consideration,NaN,NaN,Wants offline classes
939,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,JNR1012MG,consideration,2/28/2022,successful,followup_for_conversion,NaN,NaN,Wants offline classes
940,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,JNR1012MG,consideration,2/28/2022,successful,interested_for_conversion,NaN,NaN,Wants offline classes

In [35]:
m4=pd.merge(m3,df5,on="lead_id")
m4

,lead_id,age,gender,current_city,current_education,parent_occupation,lead_gen_source,demo_watched_date,language,watched_percentage,...,call_done_date,call_status,call_reason,reasons_for_not_interested_in_demo,reasons_for_not_interested_to_consider,reasons_for_not_interested_to_convert,snr_sm_id,jnr_sm_id_y,assigned_date,cycle
0,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81,...,1/4/2022,unsuccessful,lead_introduction,NaN,No time for student,NaN,SNR501MG,JNR1001MG,1/1/2022,1
1,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81,...,1/5/2022,successful,lead_introduction,NaN,No time for student,NaN,SNR501MG,JNR1001MG,1/1/2022,1
2,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81,...,1/7/2022,successful,demo_schedule,NaN,No time for student,NaN,SNR501MG,JNR1001MG,1/1/2022,1
3,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81,...,1/8/2022,successful,post_demo_followup,NaN,No time for student,NaN,SNR501MG,JNR1001MG,1/1/2022,1
4,USR1003,20,FEMALE,Visakhapatnam,B.Tech,Lawyer,user_referrals,1/7/2022,Telugu,81,...,1/9/2022,successful,followup_for_consideration,NaN,No time for student,NaN,SNR501MG,JNR1001MG,1/1/2022,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,...,2/28/2022,successful,demo_not_attended,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4
937,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,...,2/28/2022,successful,post_demo_followup,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4
938,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,...,2/28/2022,successful,followup_for_consideration,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4
939,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,...,2/28/2022,successful,followup_for_conversion,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4
940,USR1348,16,FEMALE,Kochi,Intermediate,Business,social_media,2/27/2022,English,72,...,2/28/2022,successful,interested_for_conversion,NaN,NaN,Wants offline classes,SNR503MG,JNR1012MG,2/19/2022,4

In [36]:
m4.shape

(941, 22)

In [37]:
m4.isnull().sum()

lead_id                                     0
age                                         0
gender                                      0
current_city                                0
current_education                           0
parent_occupation                           0
lead_gen_source                             0
demo_watched_date                           0
language                                    0
watched_percentage                          0
jnr_sm_id_x                                 0
lead_stage                                  0
call_done_date                              0
call_status                                 0
call_reason                                 0
reasons_for_not_interested_in_demo        941
reasons_for_not_interested_to_consider    471
reasons_for_not_interested_to_convert     470
snr_sm_id                                   0
jnr_sm_id_y                                 0
assigned_date                               0
cycle                                       0
dtype: int64